/* declaring variables for color palette */
:root {
    --headercolor: #333333;
    --bodycolor: #cccccc;
    --primary: skyblue;
    --secondary: darkblue;
    --tertiary: #333333;
}

/* ALL elements */
* {
    box-sizing: border-box;
}

/* body background color, as well as inherited references */
body {
    background-color: var(--bodycolor);
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    justify-content: flex-start;
}

/* global styling for classes/elements */
.box-text {
    padding: 8px;
    height: fit-content;
    background-color: var(--primary);
    color: var(--tertiary);
    text-align: left;
}

.navigation-box {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.navigation-box a {
    text-decoration: none;
    font-weight: bold;
}

h1,
h2,
h3,
h4 {
    font-weight: bolder;
}

h1 {
    font-size: 200%;
}

h2 {
    font-size: 175%;
}

h3 {
    font-size: 150%;
}

h4 {
    font-size: 125%;
}

/* HEADER STYLING */
header {
    flex-direction: row;
    display: flex;
    justify-content: space-between;
    background-color: var(--headercolor);
    padding: 12px 0px;
    width: 100%;
}

header #my-name {
    padding-left: 2.5%;
}

header #header-navigation {
    min-width: 450px;
    padding: 0% 2.5%;
}

header #header-navigation a {
    color: var(--primary);
    padding: 4px 8px;
    border: solid var(--primary) 0px;
    border-bottom: 2px solid;
}

/* MAIN STYLING */

main .hero {
    height: 400px;
    width: 100%;
    margin-bottom: 25px;
    /* picture of my dog for now */
    background-image: url("../images/hero-image.jpg");
    background-size: cover;
    background-position: center;
    position: relative;
}

main .hero #hero-subtitle {
    display: flex;
    position: absolute;
    right: 5%;
    bottom: 2.5%;
}